aside.ant-layout-sider {
  border-right: 1px solid #e5e5e5;
  padding: 0 20px;
}

aside.ant-layout-sider .ant-layout-sider-children .ant-menu-light {
  border-inline-end: 0 !important;
}

aside.ant-layout-sider .ant-menu {
  padding: 16px 0;
}

aside.ant-layout-sider .ant-menu .ant-menu-item {
  font-weight: 500;
}

aside.ant-layout-sider .ant-menu .ant-menu-item-selected {
  background-color: #3252df;
  color: #fff;
}
